#MainContainer	{
				position: relative;		   
				margin: 0 auto;		   
				width: 960px;		   
				height: 500px;		   
				border: 1px solid black;
			}
#MainImage {
			    position: relative;
			    margin: 0px auto 0 auto;
			    width: 960px;
			    height: 500px;
			    background: url();
    		            background-position: left top;
    			    margin-left: 0px;
			    background-repeat: no-repeat;
			    border: 1px solid black;
}

#TNBodyContainer {
			    position: relative;
			    margin: 10px auto 0 auto;
			    border: 1px solid black;
			    width: 760px;
			    height: 88px;
			}
			#TNOne {
			    position: relative;
			    float: left;
			    width: 133px;
			    height: 88px;
			    background: url("http://www.zenimax.com/jpn/fallout3/images/avators/80x80falloutav-vb.gif") no-repeat center;
			}
			#TNTwo {
			    position: relative;
			    left: 0;
			    top: 0;
			    float: right;
			    width: 133px;
			    height: 88px;
			    background: url("http://www.libpng.org/pub/png/img_png/linux_logo_sample.png") no-repeat center;
			}
